   .starsec {
       content: " ";
       position: absolute;
       width: 3px;
       height: 3px;
       background: transparent;
       box-shadow: 571px 173px #FF6067, 1732px 143px #FF6067, 1745px 454px #FF5722, 234px 784px #FF6067, 1793px 1123px #FF6067, 1076px 504px #FF6067, 633px 601px #FF5722, 350px 630px #056AAE, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #056AAE, 1646px 578px #056AAE, 544px 293px #FF6067, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #FF6067, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #FF6067, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #FF6067, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #FF6067, 419px 1024px #FF6067, 630px 1033px #4CAF50, 1995px 1644px #FF6067, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #056AAE, 1481px 621px #9E9E9E, 19px 1348px #FF6067, 864px 1780px #E91E63, 442px 1136px #FF6067, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #056AAE, 1201px 1657px #3F51B5, 1505px 692px #FF6067, 1799px 601px #FF6067, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #FF6067, 223px 252px #FF6067, 983px 1093px #F44336, 726px 1029px #FF6067, 1764px 778px #056AAE, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF6067, 228px 1824px #FFF, 1119px 1680px #FF6067, 812px 1480px #3F51B5, 1438px 1585px #056AAE, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #FF6067, 857px 281px #F44336, 1254px 1306px #056AAE, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #FF6067, 299px 678px #4CAF50, 1193px 115px #FF6067, 918px 290px #056AAE, 1447px 1422px #056AAE, 91px 1273px #9C27B0, 108px 223px #056AAE, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #056AAE, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #056AAE, 126px 943px #056AAE, 263px 604px #FF5722, 1546px 692px #F44336;
       animation: animStar 150s linear infinite;
   }

   .starthird {
       content: " ";
       position: absolute;
       width: 3px;
       height: 3px;
       background: transparent;
       box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF6067, 1076px 504px #FF6067, 633px 601px #FF5722, 350px 630px #056AAE, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #056AAE, 1646px 578px #056AAE, 544px 293px #FF6067, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #FF6067, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #FF6067, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #FF6067, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #FF6067, 419px 1024px #FF6067, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #056AAE, 1481px 621px #9E9E9E, 19px 1348px #FF6067, 864px 1780px #E91E63, 442px 1136px #FF6067, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #056AAE, 1201px 1657px #3F51B5, 1505px 692px #FF6067, 1799px 601px #FF6067, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #FF6067, 223px 252px #FF6067, 983px 1093px #F44336, 726px 1029px #FF6067, 1764px 778px #056AAE, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF6067, 228px 1824px #FFF, 1119px 1680px #FF6067, 812px 1480px #3F51B5, 1438px 1585px #056AAE, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #FF6067, 857px 281px #F44336, 1254px 1306px #056AAE, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #FF6067, 299px 678px #4CAF50, 1193px 115px #FF6067, 918px 290px #056AAE, 1447px 1422px #056AAE, 91px 1273px #9C27B0, 108px 223px #056AAE, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #056AAE, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #056AAE, 126px 943px #056AAE, 263px 604px #FF5722, 1546px 692px #F44336;
       animation: animStar 10s linear infinite;
   }

   .starfourth {
       content: " ";
       position: absolute;
       width: 2px;
       height: 2px;
       background: transparent;
       box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF6067, 1076px 504px #FF6067, 633px 601px #FF5722, 350px 630px #056AAE, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #056AAE, 1646px 578px #056AAE, 544px 293px #FF6067, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #FF6067, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #FF6067, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #FF6067, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #FF6067, 419px 1024px #FF6067, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #056AAE, 1481px 621px #9E9E9E, 19px 1348px #FF6067, 864px 1780px #E91E63, 442px 1136px #FF6067, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #056AAE, 1201px 1657px #3F51B5, 1505px 692px #FF6067, 1799px 601px #FF6067, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #FF6067, 223px 252px #FF6067, 983px 1093px #F44336, 726px 1029px #FF6067, 1764px 778px #056AAE, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF6067, 228px 1824px #FFF, 1119px 1680px #FF6067, 812px 1480px #3F51B5, 1438px 1585px #056AAE, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #FF6067, 857px 281px #F44336, 1254px 1306px #056AAE, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #FF6067, 299px 678px #4CAF50, 1193px 115px #FF6067, 918px 290px #056AAE, 1447px 1422px #056AAE, 91px 1273px #9C27B0, 108px 223px #056AAE, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #056AAE, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #056AAE, 126px 943px #056AAE, 263px 604px #FF5722, 1546px 692px #F44336;
       animation: animStar 50s linear infinite;
   }

   .starfifth {
       content: " ";
       position: absolute;
       width: 1px;
       height: 1px;
       background: transparent;
       box-shadow: 571px 173px #00BCD4, 1732px 143px #00BCD4, 1745px 454px #FF5722, 234px 784px #00BCD4, 1793px 1123px #FF6067, 1076px 504px #FF6067, 633px 601px #FF5722, 350px 630px #056AAE, 1164px 782px #00BCD4, 76px 690px #3F51B5, 1825px 701px #056AAE, 1646px 578px #056AAE, 544px 293px #FF6067, 445px 1061px #673AB7, 928px 47px #00BCD4, 168px 1410px #FF6067, 777px 782px #9C27B0, 1235px 1941px #9C27B0, 104px 1690px #FF6067, 1167px 1338px #E91E63, 345px 1652px #009688, 1682px 1196px #F44336, 1995px 494px #FF6067, 428px 798px #FF5722, 340px 1623px #F44336, 605px 349px #9C27B0, 1339px 1344px #673AB7, 1102px 1745px #3F51B5, 1592px 1676px #FF6067, 419px 1024px #FF6067, 630px 1033px #4CAF50, 1995px 1644px #00BCD4, 1092px 712px #9C27B0, 1355px 606px #F44336, 622px 1881px #056AAE, 1481px 621px #9E9E9E, 19px 1348px #FF6067, 864px 1780px #E91E63, 442px 1136px #FF6067, 67px 712px #FF5722, 89px 1406px #F44336, 275px 321px #009688, 592px 630px #E91E63, 1012px 1690px #9C27B0, 1749px 23px #673AB7, 94px 1542px #056AAE, 1201px 1657px #3F51B5, 1505px 692px #FF6067, 1799px 601px #FF6067, 656px 811px #00BCD4, 701px 597px #00BCD4, 1202px 46px #FF5722, 890px 569px #FF5722, 1613px 813px #FF6067, 223px 252px #FF6067, 983px 1093px #F44336, 726px 1029px #FF6067, 1764px 778px #056AAE, 622px 1643px #F44336, 174px 1559px #673AB7, 212px 517px #00BCD4, 340px 505px #FFF, 1700px 39px #FFF, 1768px 516px #F44336, 849px 391px #FF6067, 228px 1824px #FFF, 1119px 1680px #FF6067, 812px 1480px #3F51B5, 1438px 1585px #056AAE, 137px 1397px #FFF, 1080px 456px #673AB7, 1208px 1437px #FF6067, 857px 281px #F44336, 1254px 1306px #056AAE, 987px 990px #4CAF50, 1655px 911px #00BCD4, 1102px 1216px #FF5722, 1807px 1044px #FFF, 660px 435px #FF6067, 299px 678px #4CAF50, 1193px 115px #FF6067, 918px 290px #056AAE, 1447px 1422px #056AAE, 91px 1273px #9C27B0, 108px 223px #056AAE, 146px 754px #00BCD4, 461px 1446px #FF5722, 1004px 391px #673AB7, 1529px 516px #F44336, 1206px 845px #056AAE, 347px 583px #009688, 1102px 1332px #F44336, 709px 1756px #00BCD4, 1972px 248px #FFF, 1669px 1344px #FF5722, 1132px 406px #F44336, 320px 1076px #056AAE, 126px 943px #056AAE, 263px 604px #FF5722, 1546px 692px #F44336;
       animation: animStar 80s linear infinite;
   }

   @keyframes animStar {
       0% {
           transform: translateY(0px);
       }

       100% {
           transform: translateY(-2000px);
       }
   }


   /* glow on hover */



   .glow-on-hover {
       display: flex;
       margin: 20px auto;
       width: 200px;
       height: 200px;
       font-family: 'glamour_absoluteregular';
       font-weight: 100;
       color: #00B996;
       font-size: 40px;
       text-align: center;
       justify-content: center;
       align-items: center;
       background: #222;
       border: none;
       outline: none;
       cursor: pointer;
       position: relative;
       z-index: 0;
       border-radius: 10px;
   }

   .glow-on-hover:before {
       content: '';
       background: rgb(0, 185, 150);
       background: linear-gradient(167deg, rgba(0, 185, 150, 1) 11%, rgba(82, 178, 176, 1) 41%, rgba(223, 252, 251, 1) 63%, rgba(71, 196, 181, 1) 73%, rgba(156, 223, 232, 1) 100%);
       position: absolute;
       background-size: 400%;
       z-index: -1;
       filter: blur(1px);
       width: calc(100% + 8px);
       height: calc(100% + 8px);
       animation: glowing 20s linear infinite;
       opacity: 0;
       transition: opacity .3s ease-in-out;
       border-radius: 10px;
   }

   .glow-on-hover:active {
       color: #000
   }

   .glow-on-hover:active:after {
       background: transparent;
   }

   .glow-on-hover:hover:before {
       opacity: 1;
   }

   .glow-on-hover:after {
       z-index: -1;
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       background-color: #B880BF;
       left: 0;
       top: 0;
       border-radius: 10px;
   }

   @keyframes glowing {
       0% {
           background-position: 0 0;
       }

       50% {
           background-position: 400% 0;
       }

       100% {
           background-position: 0 0;
       }
   }


   .btna:after {
       z-index: -1;
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       background-color: #222;
       left: 0;
       top: 0;
       border-radius: 10px;
   }


   .btnb:after {
       z-index: -1;
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       background-color: #222;
       left: 0;
       top: 0;
       border-radius: 10px;
   }

   .btnc:after {
       z-index: -1;
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       background-color: #222;
       left: 0;
       top: 0;
       border-radius: 10px;
   }